# .env
./elk/elasticsearch/data/*
./promotheus/grafana/data/*
./promotheus/promotheus/data/*
**/node_modules/

**/terraform.tfvars
terraform.tfstate
**/.terraform
**/ip.txt
**/inventory.ini
**/token.txt
**/dashboard_token.txt
**/dashboard_ip_port.txt