groups:
  - name: alerts
    rules:
      - alert: InstanceDown
        expr: up == 0
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "Instance {{ $labels.instance }} down"
          description: "Target {{ $labels.job }} on {{ $labels.instance }} is down for 30 seconds."
