---
- name: Deploy prometheus
  hosts: master
  become: true
  vars:
    prometheus_port: 9090
  tasks:
    - name: create namespace
      shell: kubectl apply -f /home/kubernetes/monitoring/namespace.yaml
    - name: create configmap
      shell: kubectl apply -f /home/kubernetes/monitoring/prometheus/prom-cfg-map.yaml
    - name: create persistent volume
      shell: kubectl apply -f /home/kubernetes/monitoring/prometheus/prom-pv.yaml
    - name: create persistent volume claim
      shell: kubectl apply -f /home/kubernetes/monitoring/prometheus/prom-pvc.yaml
    - name: create prometheus deployment
      shell: kubectl apply -f /home/kubernetes/monitoring/prometheus/prometheus.yaml