---
- name: Deploy Elasticsearch
  hosts: master
  tasks:
    - name: Create namespace
      shell: kubectl apply -f /home/kubernetes/elk/namespace.yaml
    - name: Create PV
      shell: kubectl apply -f /home/kubernetes/elk-pv.yaml
    - name: Create Elasticsearch PVC
      shell: kubectl apply -f /home/kubernetes/elk/es-pvc.yaml
    - name: Create ConfigMap
      shell: kubectl apply -f /home/kubernetes/elk/es-config.yaml
    - name: Deploy Elasticsearch
      shell: kubectl apply -f /home/kubernetes/elk/elastic-search.yaml