global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'es_exporter'
    static_configs:
      - targets: ['es_exporter:9114']

  - job_name: 'health_check'
    metrics_path: '/metrics'
    static_configs:
      - targets:
          - 'auth-service:3001'
          - 'user-service:3002'
          - 'chat-service:3004'

alerting:
  alertmanagers:
    - scheme: https
      static_configs:
        - targets: ["{{ ansible_host }}:9094"]
      tls_config:
        insecure_skip_verify: true

rule_files:
  - "/etc/prometheus/alerts.yml"