version: '3.8'

services:

  kibana:
    image: docker.elastic.co/kibana/kibana:8.13.4
    container_name: kibana
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    volumes:
      - ./kibana/config:/usr/share/kibana/config:ro
    ports:
      - '5601:5601'
    networks:
      - elk-network
    depends_on:
      - elasticsearch
    restart: unless-stopped

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms2g -Xmx2g
      - xpack.security.enabled=true
    volumes:
      - es_data:/usr/share/elasticsearch/data
      - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    networks:
      - elk-network
      - monitoring_network
    ports:
      - "9200:9200"
    restart: unless-stopped

  logstash:
    image: logstash:8.13.4
    container_name: logstash
    volumes:
      - ./logstash/pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    networks:
      - elk-network
    ports:
      - "5044:5044"
    depends_on:
      - elasticsearch
    restart: unless-stopped

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.13.4
    container_name: filebeat
    volumes:
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml
      - ../services/logs:/var/log:ro
    networks:
      - elk-network
    depends_on:
      - logstash
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-kibana-proxy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
    ports:
      - "4043:4043"
    networks:
      - elk-network
    depends_on:
      - kibana
    restart: unless-stopped

volumes:
  es_data:
    driver: local

networks:
  elk-network:
    driver: bridge
  monitoring_network:
    external: true
    name: monitoring_network